* {
	text-decoration-skip-ink: none; /* Removes the weird underline going on with the brackets () */
}

nav {
	position: sticky;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	height: 17.5vh;
	min-height: 50px;
	max-height: 150px;
}

.navbar-header {
	text-align: center;
	font-size: calc(7px + 12.5vh);
	font-weight: 400;
}

.hb-svg {
	height: 100px;
	color: black;
}

body {
	margin: 0;
	font-family: "EB Garamond", serif;
	color: #FC221C;
}

a {
	color: #FC221C;
}

.header-hearts {
	text-align: center;
	margin: -2.5px 0px;
}

main {
	margin: 0vh 2vw 2.5vh 2vw;
	padding: 5vh 2vw;
	background-color: #F8DFDB;
}

.main-text {
	font-weight: 500;
}

.main-preheader {
	text-align: center;
	font-size: calc(7px + 1vw);
	font-weight: 200;
	color: black;
}

.main-header {
	text-align: center;
	font-size: calc(7px + 5vw);
	font-weight: 200;
}

.top-bottom-border {
	margin: 0vw 10vw;
	border-style: solid;
	border-width: 2px 0px;
	border-color: #FC221C;
}

.index-details-block {
	margin: 15vh 0px;
	font-family: "Work Sans", sans-serif;
	font-size: calc(7px + 2vw);
	line-height: 1.25;
	text-align: center;
	font-weight: bold;
}

.index-RSVP-invitation {
	margin: 0px 5vw;
	font-size: calc(7px + 4vw);
	text-align: center;
}

.RSVP-invite-link {
	font-weight: 100;
}

.wedding-grid-main {
  display: grid;
  grid-template-columns: 50% 50%;
}

.img-eiffel {
  height: 100vh;
  justify-self: center;
}

.wedding-desc-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
	font-size: calc(7px + 2vw);
	text-align: justify;
}

/* Container for Arrival Details */
.wedding-arrival {
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid black;
}

/* Container for Timeline Details */
.wedding-timeline {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* Individual sections in the timeline */
.timeline-section {
  padding: 1rem;
  border-left: 1px solid black;
}

.timeline-section:first-child {
  border-left: none;
}