* {
	text-decoration-skip-ink: none; /* Removes the weird underline going on with the brackets () */
}

nav {
	position: sticky;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	height: 17.5vh;
	min-height: 50px;
	max-height: 150px;
}

.navbar-header {
	text-align: center;
	font-size: calc(7px + 12.5vh);
	font-weight: 400;
}

.hb-svg {
	height: 100px;
	color: black;
}

body {
	margin: 0;
	font-family: "EB Garamond", serif;
	color: #FC221C;
}

a {
	color: #FC221C;
}

.header-hearts {
	text-align: center;
	margin: -2.5px 0px;
}

main {
	margin: 0vh 2vw 0 2vw;
	padding: 5vh 2vw;
	background-color: #F8DFDB;
}

.main-text {
	font-weight: 500;
}

.main-preheader {
	text-align: center;
	font-size: calc(7px + 1vw);
	font-weight: 200;
	color: black;
}

.main-header {
	text-align: center;
	font-size: calc(7px + 5vw);
	font-weight: 200;
}

.top-bottom-border {
	margin: 0vw 10vw;
	border-style: solid;
	border-width: 2px 0px;
	border-color: #FC221C;
}

.index-details-block {
	margin: 15vh 0px;
	font-family: "Work Sans", sans-serif;
	font-size: calc(7px + 2vw);
	line-height: 1.25;
	text-align: center;
	font-weight: bold;
}

.index-RSVP-invitation {
	margin: 0px 5vw;
	font-size: calc(7px + 4vw);
	text-align: center;
}

.RSVP-invite-link {
	font-weight: 100;
}

.wedding-grid-main {
  display: grid;
  grid-template-columns: 50% 50%;
}

.img-eiffel {
  height: 100vh;
  justify-self: center;
}

.wedding-desc-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
	font-size: calc(7px + 2vw);
	text-align: justify;
}

.wedding-detail-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.wedding-detail-title {
  font-size: calc(9px + 1.5vw);
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: black;
  display: inline;
  padding: 0;
  margin: 0;
}

.wedding-detail-title-time {
  font-size: calc(9px + 1.5vw);
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  color: black;
  display: inline;
  padding: 0;
  margin: 0;
}

.testtesttest {
  display: flex;
  flex-direction: row;
}