.hero {
    text-align: center;

    .hero-hearts {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .hero-name-detail-wrapper {
        // border-top: 1px solid $text;
        // border-bottom: 1px solid $text;

        &:before,
        &:after {
            content: "";
            display: block;
            width: 80%;
            height: 1px;
            background-color: $text;
            margin: 1rem auto;
        }

        .hero-names {
            font-size: 3rem;
            font-family: $serif-font;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        .hero-details {
            line-height: 1.5;
            margin-top: 1rem;
        }
    }

    a {
        color:inherit;
        font-weight: bold;
        text-decoration: underline;
    }
}



.hero-photo {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    padding: 0 1rem;

    img {
        width: 100%;
        max-width: 600px;
        height: auto;
        border-radius: 1rem;
        object-fit: cover;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 600px) {
        img {
            max-width: 100%;
        }
    }
}