.hero {
    text-align: center;

    .hero-hearts {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .hero-name-detail-wrapper {
        // border-top: 1px solid $text;
        // border-bottom: 1px solid $text;

        &:before,
        &:after {
            content: "";
            display: block;
            width: 80%;
            height: 1px;
            background-color: $text;
            margin: 1rem auto;
        }

        .hero-names {
            font-size: 3rem;
            font-family: $serif-font;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        .hero-details {
            line-height: 1.5;
            margin-top: 1rem;
        }
    }

    a {
        color:inherit;
        font-weight: bold;
        text-decoration: underline;
    }
}
