@import "variables";

@import 'partials/navbar';
@import 'partials/hero';
@import 'partials/rsvp';

* {
    box-sizing: border-box;
    max-width: 100%;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: $serif-font;
    font-size: 20px;
    font-weight: 600;
    background-color: $background;
    color: $text;

    @media (max-width: 600px) {
        font-size: 16px;
    }
}

main.container {
    margin: auto;
    padding: 1rem;
    max-width: 1270px;
    width: 100%;
    box-sizing: border-box;
}

header {
    text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}