@import "variables";

@import 'partials/navbar';
@import 'partials/hero';
@import 'partials/rsvp';


body {
    font-family: $serif-font;
    font-size: 24px;
    font-weight: 600;
    background-color: $background;
    color: $text;
}

main {
    margin: auto;
    max-width: 1270px;
}

header {
    text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}